@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@media print {
  body {
    margin: 0;
    padding: 0;
    zoom: 90%; /* Adjust zoom to fit the table nicely within the page */
  }

  .container, table {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  table {
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
    page-break-inside: avoid; /* Avoid breaking rows across pages */
  }

  th, td {
    word-wrap: break-word; /* Ensure text does not overflow */
    padding: 8px;
  }

  tr {
    page-break-inside: avoid; /* Ensure rows do not break between pages */
  }

  /* Hide unnecessary elements during printing */
  nav, .no-print, .pagination-controls {
    display: none !important;
  }

  /* Optional: remove link styles for better printing */
  a {
    text-decoration: none;
    color: black;
  }

  /* Remove print margins or paddings */
  @page {
    margin: 0;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
